{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <link rel="stylesheet" href="{% static 'breadcrumbs.css' %}">
{% endblock page_css %}

{% block content %}
<section id="main" class="content add-form">
    <div class="titlepage">
        <ul class="breadcrumb">
            <li class = "inactive"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="active">Add Branch</a></li>
          </ul>
    </div>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>

</section>
{% endblock content %}