{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h1>{{ brands_view.name }}</h1>
    </div>

        <div class="row container-fluid">
            <div class="col-sm">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                {% if brands_view.display == '0' %}
                    <div class="critical" style="color:#fff;padding:8px;margin-bottom:15px;margin-top:15px;border-radius:8px;">
                        <center>This asset brand is archived.</center>
                    </div>
                {% endif %}
                <table class="info-table">
                    <tr>
                        <td class= "left-align"><b>Name</b></td>
                        <td class= "right-align">{{ brands_view.name }}</td>
                    </tr>
                    <tr>
                        <td class= "left-align"><b>Date Added</b></td>
                        <td class= "right-align">{{ brands_view.date_added }}</td>
                    </tr>
                    <tr>
                        <td class= "left-align"><b>Description</b></td>
                        <td class= "right-align">{{ brands_view.description }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm">
                <h2>
                    <i class="fas fa-chart-line"></i>&nbsp; Assets
                </h2>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search assets..">
                <table id = "myTable" class="table table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Brand</th>
                    </thead>
                    {% for asset in assets %}
                        <tr>
                            <td>{{ asset.id }}</td>
                            <td>{{ asset.name }}</td>
                            <td>{{ asset.category }}</td>
                            <td>{{ asset.brand }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% block js %}
            <script>
                function myFunction() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
                for (i = 1; i < tr.length; i++) {
                        tr[i].style.display = "none";
                        td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                cell = tr[i].getElementsByTagName("td")[j];
                    if (cell) {
                        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                        } 
                    }
                }
            }
            }
            </script>
{% endblock js %}
            </div>
        </div>

</section>

<div class="footer">
    <a href="{% url 'asset-brands-edit' brands_view.id %}" class="btn float-right neutral">Edit</a>
    <a href="{% url 'asset-categories-delete' brands_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to remove this asset brand from the database?')">Delete</a>
</div>


{% endblock content %}