{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'view.css' %}">
    <link rel="stylesheet" href="{% static 'breadcrumbs.css' %}">
    <link rel="stylesheet" type="text/css" 
        href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" 
        href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
{% endblock page_css %}
{% block content %}
{% load humanize %}
<section id="main" class="content">
    <div class="titlepage">
        <ul class="breadcrumb">
            <li class = "inactive"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="inactive"><a href="{% url 'asset-table' %}">Asset Table</a></li>
            <li class="active">{{ asset_view.name }}</a></li>
        </ul>
    </div>

        <div class="row container-fluid">
            <div class="col-sm viewbox">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                {% if asset_view.status == 'Archived' %}
                    <div class="critical" style="color:#fff;padding:8px;margin-bottom:15px;margin-top:15px;border-radius:8px;">
                        <center>This item is archived.</center>
                    </div>
                {% endif %}
            <div class="col-sm">
                <table class="info-table">
                    <tr>
                        <td><b>ID</b></td>
                        <td>{{ asset_view.id }}</td>
                    </tr>
                    <tr>
                        <td><b>Created By</b></td>
                        <td>{{ asset_view.created_by }}</td>
                    </tr>
                    <tr>
                        <td><b>Date Added</b></td>
                        <td>{{ asset_view.date_added }}</td>
                    </tr>
                    <tr>
                        <td><b>Date Acquired</b></td>
                        <td>{{ asset_view.date_acquired }}</td>
                    </tr>
                    <tr>
                        <td><b>Category</b></td>
                        <td>{{ asset_view.category }}</td>
                    </tr>
                    <tr>
                        <td><b>Vendor</b></td>
                        <td>{{ asset_view.vendor }}</td>
                    </tr>
                    <tr>
                        <td><b>Brand</b></td>
                        <td>{{ asset_view.brand }}</td>
                    </tr>
                    </table>
                </div>
        </div>

            <div class="col-sm">
                    <table class="info-table">
                    <tr>
                        <td><b>Status</b></td>
                        <td>{{ asset_view.status }}</td>
                    </tr>
                    <tr>
                        <td><b>Location</b></td>
                        <td>{{ asset_view.branch }}</td>
                    </tr>
                    <tr>
                        <td><b>Model Number</b></td>
                        <td>{{ asset_view.model_no }}</td>
                    </tr>
                    <tr>
                        <td><b>Serial Number</b></td>
                        <td>{{ asset_view.serial_no }}</td>
                    </tr>
                    <tr>
                        <td><b>Specifications</b></td>
                        <td>{{ asset_view.specifications }}</td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td>{{ asset_view.description }}</td>
                    </tr>
                </table>

                {% if soft_auth != 'General User' %}
                <div class="info-buttons">
                    <ul>
                        {% if asset_view.status == 'Storage' %}
                            <li class="low">
                                <a href="{% url 'in-use' asset_view.id %}">In Use</a>
                            </li>
                        {% else %}
                            <li class="low">
                                <a href="{% url 'store' asset_view.id %}">Put In Storage</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}


                </div>
            </div>

        <div class=" container-fluid">

            <div class="col-sm">
                <h2>
                    <i class="fas fa-money-bill-wave"></i>&nbsp; Depreciation
                </h2>

                <table class="table table-striped dep-table" id="myTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Depreciation Value</th>
                            <th>Accumulated Depreciation</th>
                            <th>Book Value</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for value in dep_values %}
                        <tr>
                            <td>{{ value.0 }}</td>
                            <td>{{ value.1|floatformat:'2'|intcomma }}</td>
                            <td>{{ value.2|floatformat:'2'|intcomma }}</td>
                            <td>{{ value.3|floatformat:'2'|intcomma }}</td>
                        </tr>
                    {% endfor %}
                            
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <b>Depreciation Value</b>&nbsp; Php {{ asset_view.dep_value|floatformat:'2' }}
                </div>
                {% if soft_auth != 'General User' %}
                <div class="info-buttons">
                    <ul>
                        <li class="low">
                            <a href="{% url 'depreciate-asset' asset_view.id %}">Generate Current Report</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row container-fluid">
           
            <div class="col-sm">
                <h2>
                    <i class="fas fa-chart-line"></i>&nbsp; Estimated Cost
                </h2>
                    <table class="info-table" >
                        <tr>
                            <td><b>Acquisition Cost: </b></td>
                            <td>Php {{ asset_view.acquisition_cost|floatformat:'2'|intcomma }}</td>
                        </tr>
                        <tr>
                            <td><b>Salvage Value: </b></td>
                            <td>Php {{ asset_view.salvage_value|floatformat:'2'|intcomma }}</td>
                        </tr>
                        <tr>
                            <td><b>Projected Life: </b></td>
                            <td>{{ asset_view.project_life }} Months<br/></td>
                        </tr>
                        <tr>
                            <td><b>Book Value: </b></td>
                            <td>Php {{ asset_view.balance|floatformat:'2'|intcomma }}<br/></td>
                        </tr>
                    </table>
            </div>

            <div class="col-sm">
                <h2>
                    <i class="far fa-clock"></i>&nbsp; Recent Actions
                </h2>

                <!-- ra 1 -->
                {% for trail in audit_trail|slice:":5" %}
                    <div class="tablebox">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-1-sm">
                                    {% if trail.ttype == '1' %}
                                        <i class="far fa-clock"></i>
                                    {% elif trail.ttype == '2' %}
                                        <i class="fas fa-exchange-alt"></i>
                                    {% elif trail.ttype == '3' %}
                                        <i class="far fa-trash-alt"></i>
                                    {% elif trail.ttype == '4' %}
                                        <i class="fas fa-undo-alt"></i>
                                    {% elif trail.ttype == '5' %}
                                        <i class="far fa-flag"></i>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {{ trail.description }}
                                </div>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="date">
                                        <a href="{% url 'transaction-view' trail.id %}">{{ trail.date_added }}</a>
                                    </li>
                                    <li class="neutral">
                                        transaction#{{ trail.id }}
                                    </li>

                                    {% if trail.status == '1' %}
                                        <li class="critical">On-going</li>
                                    {% elif trail.status == '2' %}
                                        <li class="low">Completed</li>
                                    {% endif %}

                                    {% if trail.ttype == '4' %}
                                        {% for asset in trail.archived_assets.all  %}
                                            <li class="neutral">asset#{{ asset.id }}</li>
                                        {% endfor %}
                                    {% else %}
                                        {% for asset in trail.assets_transact.all  %}
                                            <li class="neutral">asset#{{ asset.id }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

</section>

{% block js %}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    { extend: 'copy',  className: 'copy'},  
                    { extend: 'csv', className: 'csv'},  
                    { extend: 'excel', className: 'excel'},  
                    { extend: 'pdf',  className: 'pdf'},  
                    { extend: 'print', className: 'print'} 
                ]
            });
        } );
    </script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable tr').click(function() {
            var href = $(this).find("a").attr("href");
                if(href) {
                    window.location = href;
                    }
                });
        });  
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
{% endblock js %}

{% if soft_auth != 'General User' %}
<div class="footer">
    {% if asset_view.display == '1' %}
        <a href="{% url 'asset-edit' asset_view.id %}" class="btn float-right neutral">Edit</a>
        <a href="{% url 'asset-revalue' asset_view.id %}" class="btn float-right low">Revalue</a>
        <a href="{% url 'asset-archive' asset_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to archive this asset?')">Archive</a>
    {% endif %}
    {% if asset_view.display == '0' %}
        <a href="{% url 'asset-recover' asset_view.id %}" class="btn float-right misc" onclick="return confirm('Are you sure you want to recover this asset?')">Recover</a>
        <a href="{% url 'delete-asset' asset_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to remove this asset from the database?')">Delete</a>
    {% endif %}
</div>
{% endif %}

{% endblock content %}