{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h1>{{ asset_view.name }}</h1>
    </div>

        <div class="row container-fluid">
            <div class="col-sm">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                {% if asset_view.status == 'Archived' %}
                    <div class="critical" style="color:#fff;padding:8px;margin-bottom:15px;margin-top:15px;border-radius:8px;">
                        <center>This item is archived.</center>
                    </div>
                {% endif %}

                    <table class="info-table">
                        <tr>
                            <td><b>ID</b></td>
                            <td>{{ asset_view.id }}</td>
                        </tr>
                        <tr>
                            <td><b>Date Added</b></td>
                            <td>{{ asset_view.date_added }}</td>
                        </tr>
                        <tr>
                            <td><b>Category</b></td>
                            <td>{{ asset_view.category }}</td>
                        </tr>
                        <tr>
                            <td><b>Brand</b></td>
                            <td>{{ asset_view.brand }}</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td>{{ asset_view.status }}</td>
                        </tr>
                        <tr>
                            <td><b>Model Number</b></td>
                            <td>{{ asset_view.model_no }}</td>
                        </tr>
                        <tr>
                            <td><b>Serial Number</b></td>
                            <td>{{ asset_view.serial_no }}</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td>{{ asset_view.description }}</td>
                        </tr>
                    </table>
            </div>

            <div class="col-sm">
                <h2>
                    <i class="fas fa-chart-line"></i>&nbsp; Estimated Cost
                </h2>

                <b>Acquisition Cost: </b>Php {{ asset_view.acquisition_cost }}<br/>
                <b>Salvage Value: </b>Php {{ asset_view.salvage_value }}<br/>
                <b>Projected Life: </b>{{ asset_view.project_life }} Months<br/>
                <b>Book Value: </b>{{ asset_view.balance }} Months<br/>
                
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-sm-7">
                <h2>
                    <i class="fas fa-money-bill-wave"></i>&nbsp; Depreciation
                </h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Accumulated Depreciation</th>
                            <th>Book Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ asset_view.it_dep_date }}</td>
                            <td>{{ asset_view.it_accrued }}</td>
                            <td>{{ asset_view.it_balance }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col">
                        <b>Depreciation Value</b>&nbsp; Php {{ asset_view.dep_value }}
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <h2>
                    <i class="far fa-clock"></i>&nbsp; Recent Actions
                </h2>

                <!-- ra 1 -->
                <div class="tablebox">
                    <div class="container-fluid">
                        <div class="row">
                            {% for trail in audit_trail %}
                                <div class="col-1-sm">
                                    <!-- icon --><i class="far fa-clock"></i>
                                </div>
                                <div class="col">
                                    {{ trail.description }}
                                </div>
                            {% endfor %}
                        </div>
                        <!--
                        <div class="row">
                            <ul>
                                <li class="date">
                                    2018/11/15 13:00
                                </li>
                                <li class="critical">
                                    past due
                                </li>
                                <li class="neutral">
                                    asset#43215678
                                </li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>

            </div>
        </div>

</section>

<div class="footer">
    {% if asset_view.display == '1' %}
        <a href="{% url 'asset-edit' asset_view.id %}" class="btn float-right neutral">Edit</a>
        <a href="{% url 'asset-revalue' asset_view.id %}" class="btn float-right low">Revalue</a>
        <a href="{% url 'asset-archive' asset_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to archive this asset?')">Archive</a>
    {% endif %}
    {% if asset_view.display == '0' %}
        <a href="{% url 'asset-recover' asset_view.id %}" class="btn float-right misc" onclick="return confirm('Are you sure you want to recover this asset?')">Recover</a>
        <a href="{% url 'delete-asset' asset_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to remove this asset from the database?')">Delete</a>
    {% endif %}

</div>


{% endblock content %}