{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock page_css %}
{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h1>{{ asset_view.name }}</h1>
    </div>

        <div class="row container-fluid">
            <div class="col-sm viewbox">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                {% if asset_view.status == 'Archived' %}
                    <div class="critical" style="color:#fff;padding:8px;margin-bottom:15px;margin-top:15px;border-radius:8px;">
                        <center>This item is archived.</center>
                    </div>
                {% endif %}

                    <table class="info-table" >
                        <tr>
                            <td class= "left-align"><b>ID</b></td>
                            <td class= "right-align">{{ asset_view.id }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Date Added</b></td>
                            <td class= "right-align">{{ asset_view.date_added }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Date Acquired</b></td>
                            <td class= "right-align">{{ asset_view.date_acquired }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Category</b></td>
                            <td class= "right-align">{{ asset_view.category }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Brand</b></td>
                            <td class= "right-align">{{ asset_view.brand }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Status</b></td>
                            <td class= "right-align">{{ asset_view.status }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Model Number</b></td>
                            <td class= "right-align">{{ asset_view.model_no }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Serial Number</b></td>
                            <td class= "right-align">{{ asset_view.serial_no }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Description</b></td>
                            <td class= "right-align">{{ asset_view.description }}</td>
                        </tr>
                    </table>
            </div>

            <div class="col-sm">
                <h2>
                    <i class="fas fa-chart-line"></i>&nbsp; Estimated Cost
                </h2>
                    <table class="info-table" >
                        <tr>
                            <td class= "left-align"><b>Acquisition Cost: </b></td>
                            <td class= "right-align">Php {{ asset_view.acquisition_cost }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Salvage Value: </b></td>
                            <td class= "right-align">Php {{ asset_view.salvage_value }}</td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Projected Life: </b></td>
                            <td class= "right-align">{{ asset_view.project_life }} Months<br/></td>
                        </tr>
                        <tr>
                            <td class= "left-align"><b>Book Value: </b></td>
                            <td class= "right-align">{{ asset_view.balance }} Months<br/></td>
                        </tr>
                    </table>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-sm">
                <h2>
                    <i class="fas fa-money-bill-wave"></i>&nbsp; Depreciation
                </h2>

                <table class="table table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Accumulated Depreciation</th>
                            <th>Book Value</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                        
                    {% if asset_view.gap > 31 %}   
                        <tr>
                        {% for x in asset_view.it_dep_date %}
                            <td>{{ x }}</td>
                        {% endfor %}

                        {% for y in asset_view.it_accrued %}
                            <td>{{ y }}</td>
                        {% endfor %}

                        {% for z in asset_view.it_balance %}
                            <td>{{ z }}</td>
                        {% endfor %}
                        </tr>
                    {% endif %}
                        
                        
                        
                    </tbody>
                </table>

                <div class="row">
                    <div class="col">
                        <b>Depreciation Value</b>&nbsp; Php {{ asset_view.dep_value }}
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <h2>
                    <i class="far fa-clock"></i>&nbsp; Recent Actions
                </h2>

                <!-- ra 1 -->
                <div class="tablebox">
                    <div class="container-fluid">
                        <div class="row">
                            {% for trail in audit_trail %}
                                <div class="col-sm">
                                    <!-- icon --><i class="far fa-clock"></i>
                                </div>
                                <div class="col">
                                    {{ trail.description }}
                                </div>
                            {% endfor %}
                        </div>
                        <!--
                        <div class="row">
                            <ul>
                                <li class="date">
                                    2018/11/15 13:00
                                </li>
                                <li class="critical">
                                    past due
                                </li>
                                <li class="neutral">
                                    asset#43215678
                                </li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>

           

            </div>
        </div>

</section>

<div class="footer">
    {% if asset_view.display == '1' %}
        <a href="{% url 'asset-edit' asset_view.id %}" class="btn float-right neutral">Edit</a>
        <a href="{% url 'asset-revalue' asset_view.id %}" class="btn float-right low">Revalue</a>
        <a href="{% url 'asset-archive' asset_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to archive this asset?')">Archive</a>
    {% endif %}
    {% if asset_view.display == '0' %}
        <a href="{% url 'asset-recover' asset_view.id %}" class="btn float-right misc" onclick="return confirm('Are you sure you want to recover this asset?')">Recover</a>
        <a href="{% url 'delete-asset' asset_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to remove this asset from the database?')">Delete</a>
    {% endif %}

</div
    
{% endblock content %}