{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" type="text/css" 
    href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" 
    href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h1>{{ brands_view.name }}</h1>
    </div>

        <div class="container-fluid">
            <div class="col-sm">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                {% if brands_view.display == '0' %}
                    <div class="critical" style="color:#fff;padding:8px;margin-bottom:15px;margin-top:15px;border-radius:8px;">
                        <center>This asset brand is archived.</center>
                    </div>
                {% endif %}
                <table class="info-table">
                    <tr>
                        <td class= "left-align"><b>Name</b></td>
                        <td class= "right-align">{{ brands_view.name }}</td>
                    </tr>
                    <tr>
                        <td class= "left-align"><b>Date Added</b></td>
                        <td class= "right-align">{{ brands_view.date_added }}</td>
                    </tr>
                    <tr>
                        <td class= "left-align"><b>Description</b></td>
                        <td class= "right-align">{{ brands_view.description }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-sm">
                <h2 class="assettable">
                    <i class="fas fa-chart-line"></i>&nbsp; Assets
                </h2>
                
                <table id = "myTable" class="table table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Brand</th>
                    </thead>
                    <tbody style="overflow-y:auto;">
                    {% for asset in assets %}
                        <tr>
                            <td>{{ asset.id }}</td>
                            <td><a href="{% url 'asset-view' asset.id %}">{{ asset.name }}</a></td>
                            <td>{{ asset.category }}</td>
                            <td>{{ asset.brand }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
{% block js %}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable tr').click(function() {
            var href = $(this).find("a").attr("href");
               if(href) {
                    window.location = href;
                   }
             });
        });  
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
{% endblock js %}

            </div>
        </div>
    </div>
</section>

<div class="footer">
    <a href="{% url 'asset-brands-edit' brands_view.id %}" class="btn float-right neutral">Edit</a>
    <a href="{% url 'asset-categories-delete' brands_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to remove this asset brand from the database?')">Delete</a>
</div>


{% endblock content %}