
<html>
    <head>
        {% if title %}
            <title>GRAMS: {{ title }}</title>
        {% else %}
            <title>GRAMS</title>
        {% endif %}
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
            integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" 
            crossorigin="anonymous">
    
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">

        {% block page_css %}{% endblock page_css %}
    
    </head>
    
    <body>
    
        <!-- START TOP BAR -->
        <div class="topbar">
            <!-- sidebar toggle -->
            <div class="topbar-content">
                <a href="#" id="opentogglebtn" onclick="toggleSideBar()">
                    <span class="togglebtn">
                        <i class="fas fa-bars"></i>
                    </span>
                </a>
                <span class="topbar-title">
                    <a href="{% url 'dashboard' %}">
                        GRAMS
                    </a>
    
                    <!-- USER PANEL -->
                    <div class="userpanel">

                        {% include 'notif.html' %}
                        
                        <div class="dropdown">
                            <a class="userbtn" id="dLabel" role="button" data-toggle="dropdown"
                                data-target="#" href="/page.html">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu user-dropdown" role="menu" aria-labelledby="dLabel">
                                <div class="user-dropdown-wrapper">

                                    <div class="user-dropdown-preamble">
                                        Signed in as <b>{{ request.user.username }}</b>
                                    </div>

                                    <!-- settings -->
                                    <a class="user-dropdown-content" href="{% url 'profile' %}">
                                        Profile
                                    </a>
                                    <a class="user-dropdown-content" href="{% url 'edit-profile' %}">
                                        Settings
                                    </a>
                                    <a class="user-dropdown-content" href="{% url 'change-password' %}">
                                        Change Password
                                    </a>
                                    
                                    <!-- something -->
                                    <a class="user-dropdown-content" href="{% url 'logout' %}">
                                        Log Out
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end user -->
    
    
                        <!-- start log out -->
                        <a class="userbtn" href="{% url 'logout' %}">
                            <i class="fas fa-power-off"></i>
                        </a>
                        <!-- end log out -->
                    </div>
                </span>
            </div>
        </div>
        <!-- END TOP BAR -->
        
        <!-- START SIDE NAV -->
            <div id="side-menu" class="side-nav">
                <!-- start asset menu -->
                <a href="#asset" class="dropdown-btn"><i class="fas fa-cubes sidecon"></i> Asset <i class="fas fa-angle-down"></i></a>
                <div class="dropdown-container">
                    <a href="{% url 'asset-table' %}"><i class="fas fa-table incon"></i> Display All</a>
                    {% if soft_auth != 'General User' %}
                        <a href="{% url 'asset-add' %}"><i class="fas fa-plus incon"></i> Add</a>
                    {% endif %}
                    <a href="{% url 'archived-assets-table' %}"><i class="far fa-trash-alt incon"></i></i> Archive</a>
                    <a href="#" class="dropdown-btn"><i class="fas fa-th-large incon"></i> Categories <i class="fas fa-angle-down"></i></a>
                    <div class="dropdown-container">
                        <a href="{% url 'asset-categories-table' %}" style="margin-left: 20px;"><i class="fas fa-table incon"></i> Display All</a>
                        {% if soft_auth != 'General User' %}
                            <a href="{% url 'asset-categories-add' %}" style="margin-left: 20px;"><i class="fas fa-plus incon"></i> Add</a>
                        {% endif %}
                    </div>
                    <a href="#" class="dropdown-btn"><i class="fas fa-tags incon"></i> Brands <i class="fas fa-angle-down"></i></a>
                    <div class="dropdown-container">
                        <a href="{% url 'asset-brands-table' %}" style="margin-left: 20px;"><i class="fas fa-table incon"></i> Display All</a>
                        {% if soft_auth != 'General User' %}
                            <a href="{% url 'asset-brands-add' %}" style="margin-left: 20px;"><i class="fas fa-plus incon"></i> Add</a>
                        {% endif %}
                    </div>
                </div>
                <!-- end asset menu -->
    
                <!-- start transactions menu -->
                <a href="#transactions" class="dropdown-btn"><i class="fas fa-random sidecon"></i> Transactions <i class="fas fa-angle-down"></i></a>
                <div class="dropdown-container">
                    {% if soft_auth != 'General User' %}
                        <a href="{% url 'schedule-maintenance' %}"><i class="far fa-clock incon"></i></i> Maintenance</a>
                        <a href="{% url 'transfer-asset' %}"><i class="fas fa-people-carry incon"></i> Transfer</a>
                        <a href="{% url 'dispose-asset' %}"><i class="far fa-trash-alt incon"></i> Dispose/Archive</a>
                        <a href="{% url 'recover-asset' %}"><i class="fas fa-redo-alt incon"></i> Recover</a>
                        <a href="{% url 'defective-asset' %}"><i class="far fa-flag incon"></i> Report Defective</a>
                    {% endif %}
                    <a href="{% url 'transactions-table' %}"><i class="far fa-calendar-alt incon"></i> Queue</a>
                    <a href="{% url 'transactions-history' %}"><i class="fas fa-history incon"></i> History</a>
                </div>
                <!-- end transactions menu -->
    
                <!-- start manage menu -->
                <a href="#manage" class="dropdown-btn"><i class="fas fa-cogs sidecon"></i> Manage <i class="fas fa-angle-down"></i></a>
                    <div class="dropdown-container">
                        <a href="#"  class="dropdown-btn"><i class="fas fa-utensils incon"></i> Branches <i class="fas fa-angle-down"></i></a>
                        <div class="dropdown-container">
                            <a href="{% url 'branch-table' %}" style="margin-left: 20px;"><i class="fas fa-table incon"></i> Display All</a>
                            {% if soft_auth != 'General User' %}
                                <a href="{% url 'branch-add' %}" style="margin-left: 20px;"><i class="fas fa-plus incon"></i> Add</a>
                            {% endif %}
                            <a href="{% url 'branch-table-archive' %}" style="margin-left: 20px;"><i class="far fa-trash-alt incon"></i></i> Archive</a>
                        </div>
                        <a href="#"  class="dropdown-btn"><i class="fas fa-building incon"></i> Companies <i class="fas fa-angle-down"></i></a>
                        <div class="dropdown-container">
                            <a href="{% url 'company-table' %}" style="margin-left: 20px;"><i class="fas fa-table incon"></i> Display All</a>
                            {% if soft_auth != 'General User' %}
                                <a href="{% url 'company-add' %}" style="margin-left: 20px;"><i class="fas fa-plus incon"></i> Add</a>
                            {% endif %}
                            <a href="{% url 'archive-company-table' %}" style="margin-left: 20px;"><i class="far fa-trash-alt incon"></i></i> Archive</a>
                        </div>
                        <a href="#"  class="dropdown-btn"><i class="fas fa-wrench incon"></i> Vendors <i class="fas fa-angle-down"></i></a>
                        <div class="dropdown-container">
                            <a href="{% url 'vendors-table'%}" style="margin-left: 20px;"><i class="fas fa-table incon"></i> Display All</a>
                            {% if soft_auth != 'General User' %}
                                <a href="{% url 'vendors-add'%}" style="margin-left: 20px;"><i class="fas fa-plus incon"></i> Add</a>
                            {% endif %}
                            <a href="{% url 'archive-vendors-table' %}" style="margin-left: 20px;"><i class="far fa-trash-alt incon"></i></i> Archive</a>
                        </div>
                    </div>
                {% if soft_auth != 'General User' %}
                    <a href="/admin/" class="dropdown-btn"><i class="fas fa-unlock-alt sidecon"></i> Admin Panel</a>
                {% endif %}
            </div>

        {% block content %}{% endblock content %}
    
        {% load static %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"  crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"  crossorigin="anonymous"></script>
        <script src="{% static 'dropdown.js' %}"></script>
        <script src="{% static 'custom.js' %}"></script>
        {% block js %}
        
        {% endblock js %}
    </body>
    
    </html>