{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h1>{{ branch_view.name }}</h1>
    </div>

        <div class="row container-fluid">
            <div class="col-sm">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                <table class="info-table">
                    <tr>
                        <td><b>Name</b></td>
                        <td>{{ branch_view.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Code</b></td>
                        <td>{{ branch_view.code }}</td>
                    </tr>
                    <tr>
                        <td><b>Company</b></td>
                        <td>{{ branch_view.company }}</td>
                    </tr>
                    <tr>
                        <td><b>Location</b></td>
                        <td>{{ branch_view.location }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm">
                <h2>
                    <i class="fas fa-chart-line"></i>&nbsp; Assets
                </h2>
                
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search assets..">
                
                <table class="table table-striped" id= "myTable">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Brand</th>
                    </thead>
                    <tbody>
                    {% for asset in assets %}
                        <tr>
                            <td>{{ asset.id }}</td>
                            <td>{{ asset.name }}</td>
                            <td>{{ asset.category }}</td>
                            <td>{{ asset.brand }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
{% block js %}
            <script>
                function myFunction() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
                for (i = 1; i < tr.length; i++) {
                        tr[i].style.display = "none";
                        td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                cell = tr[i].getElementsByTagName("td")[j];
                    if (cell) {
                        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                        } 
                    }
                }
            }
            }
            </script>
{% endblock js %}
            </div>
        </div>

</section>

<div class="footer">
    <a href="{% url 'branch-edit' branch_view.id %}" class="btn float-right neutral">Edit</a>
    <a href="#" class="btn float-right critical">Archive</a>
</div>


{% endblock content %}