{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'tables.css' %}">
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
        
    <div class="titlepage">
        <form class="form-inline">
            <h1>Branches</h1> 
            <button type="button" class="btn" onclick="window.location.href='addbranch.html'" style="background:  #2E7D32; color: white; margin-bottom:5px ; margin-left:15px">ADD</button> 
        </form>
    </div>

    <form class="form-inline" style="margin-bottom: 15px">
        <div class="form-group">
            <button type="button" class="btn" style="background:  #2E7D32; color: white;"><i class="fas fa-file-pdf"></i>EXPORT PDF</button>
        </div>

        <div class="form-group">
            <button type="button" class="btn" style="background:  #2E7D32; color: white "><i class="fas fa-file-csv"></i> EXPORT CSV</button>
        </div>
    </form>

    <div style="overflow-x:auto;"> 
        <table class="table table-striped" id="myTable"> 
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>LOCATION</th>
                </tr>
            </thead>
            
            <tbody style="overflow-y:auto;">
                <tr>
                    <td>MOA</td>
                    <td>Giligan's MOA</td>
                    <td>Pasay, By the Bay?</td>
                </tr>

                <tr>
                    <td>XYZ</td>
                    <td>Giligan's XYZ</td>
                    <td>Makati City</td>
                </tr>

                <tr>
                    <td>SMN</td>
                    <td>Giligan's SM North</td>
                    <td>SM North</td>
                </tr>

                <tr>
                    <td>SMS</td>
                    <td>Giligan's South</td>
                    <td>South Luzon</td>
                </tr>

                <tr>
                    <td>DMD</td>
                    <td>Giligan's DMD</td>
                    <td>Mandaluyong City</td>
                </tr>

                <tr>
                    <td>GGH</td>
                    <td>Giligan's Greenhills</td>
                    <td>Greenhills, San Juan</td>
                </tr>

            </tbody>
        </table>
      </div>
</section>
{% endblock content %}