{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h1>{{ company_view.name }}</h1>
    </div>

        <div class="row container-fluid">
            <div class="col-sm">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                <table class="info-table">
                    <tr>
                        <td><b>ID</b></td>
                        <td>{{ company_view.id }}</td>
                    </tr>
                    <tr>
                        <td><b>Name</b></td>
                        <td>{{ company_view.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Date Added</b></td>
                        <td>{{ company_view.date_added }}</td>
                    </tr>
                    <tr>
                        <td><b>Owners</b></td>
                        <td>{{ company_view.owners }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm">
                <h2>
                    <i class="fas fa-chart-line"></i>&nbsp; Branches
                </h2>

                <table class="table table-striped">
                    <thead>
                        <td>Code</td>
                        <td>Name</td>
                        <td>Location</td>
                    </thead>
                    {% for branch in branches %}
                        <tr>
                            <td>{{ branch.code }}</td>
                            <td>{{ branch.name }}</td>
                            <td>{{ branch.location }}</td>
                        </tr>
                    {% endfor %}
                </table>
                
            </div>
        </div>

</section>

<div class="footer">
    <a href="{% url 'company-edit' company_view.id %}" class="btn float-right neutral">Edit</a>
    <a href="#" class="btn float-right critical">Archive</a>
</div>


{% endblock content %}