{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h1>{{ company_view.name }}</h1>
    </div>

        <div class="row container-fluid">
            <div class="col-sm">
                <h2>
                    <i class="fas fa-info-circle"></i>&nbsp; Information
                </h2>
                {% if company_view.display == '0' %}
                    <div class="critical" style="color:#fff;padding:8px;margin-bottom:15px;margin-top:15px;border-radius:8px;">
                        <center>This item is archived.</center>
                    </div>
                {% endif %}
                <table class="info-table">
                    <tr>
                        <td><b>ID</b></td>
                        <td>{{ company_view.id }}</td>
                    </tr>
                    <tr>
                        <td><b>Name</b></td>
                        <td>{{ company_view.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Date Added</b></td>
                        <td>{{ company_view.date_added }}</td>
                    </tr>
                    <tr>
                        <td><b>Owners</b></td>
                        <td>{{ company_view.owners }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm">
                <h2>
                    <i class="fas fa-chart-line"></i>&nbsp; Branches
                </h2>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search branches..">
                <table id = "myTable" class="table table-striped">
                    <thead>
                        <tH>Code</th>
                        <th>Name</th>
                        <th>Location</th>
                    </thead>
                    {% for branch in branches %}
                        <tr>
                            <td>{{ branch.code }}</td>
                            <td>{{ branch.name }}</td>
                            <td>{{ branch.location }}</td>
                        </tr>
                    {% endfor %}
                </table>
{% block js %}
                <script>
                    function myFunction() {
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            } else {
                            tr[i].style.display = "none";
                            }
                        }       
                    }
                    for (i = 1; i < tr.length; i++) {
                            tr[i].style.display = "none";
                            td = tr[i].getElementsByTagName("td");
                    for (var j = 0; j < td.length; j++) {
                    cell = tr[i].getElementsByTagName("td")[j];
                        if (cell) {
                            if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                            } 
                        }
                    }
                }
                }
                </script>
{% endblock js %}    
            </div>
        </div>

</section>

<div class="footer">
        {% if company_view.display == '1' %}
        <a href="{% url 'company-edit' company_view.id %}" class="btn float-right neutral">Edit</a>
        <a href="{% url 'archive-company' company_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to archive this company?')">Archive</a>
    {% endif %}
    {% if company_view.display == '0' %}
        <a href="{% url 'recover-company' company_view.id %}" class="btn float-right misc" onclick="return confirm('Are you sure you want to recover this company?')">Recover</a>
        <a href="{% url 'delete-company' company_view.id %}" class="btn float-right critical" onclick="return confirm('Are you sure you want to remove this company from the database?')">Delete</a>
    {% endif %}
</div>


{% endblock content %}