{% extends 'base.html' %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'editpage.css' %}">
{% endblock page_css %}

{% block content %}
<section id="main" class="content">
    <div class="titlepage">
        <h2>{{ company_view.name }}</h2>
    </div>

    
        <div class="row">
              <div class="col">
                    <h5>ID: {{ company_view.id }}</h5>
                    <h5>Name: {{ company_view.name }}</h5>
              </div>
        </div>
</section>
{% endblock content %}