<!-- LOG OUT -->
<!doctype html>

<html>
<head>
    <title>GRAMS: {{ title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <div class="bigbox">
        <div class="wrapper">
            <div class="box">
                <div class="boxtitle">GRAMS</div>
                You have been logged out. <a href="{% url 'login' %}">Log back in?</a>
            </div>
        </div>
    </div>
</body>
</html>