{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'tables.css' %}">
    <link rel="stylesheet" href="{% static 'breadcrumbs.css' %}">
{% endblock page_css %}

{% block content %}

    <section id="main" class="content">
        <div class="titlepage">
            <ul class="breadcrumb">
                <li class = "inactive"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="active">Schedule Maintenance</a></li>
              </ul>
        </div>
        </div>

        <div class="row">
            <div class="form-control tablebox-container">
                <form method="POST" id="transactionForm" assets-url="{% url 'ajax-assets' %}" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn neutral" type="submit" value="Schedule Maintenance">
                    <input class="btn low" type="reset" value="Clear">
                </form>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_assets_transact").change(function () {
            var ajaxurl = $("#transactionForm").attr("assets-url");
            var assetId = $(this).val();

            $.ajax({
                url: ajaxurl,
                data: {
                    'asset': assetId
                },
                success: function (data) {
                    $("#id_assets_transact").html(data);
                }
            });
        });
    </script>


{% endblock content %}
