/* Boxes & Containers */

.tablebox-container h2 {
    margin-bottom: 20px;
}

.tablebox-container h5 {
    margin-bottom: 25px;
}

.tablebox {
    /*background-color: rgb(248, 177, 177);*/
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #BDBDBD;
}

    .tablebox a {
        position: inherit;
        color: inherit;
        text-decoration: none;
    }

    .tablebox i {
        font-size: 2em;
        padding-right: 15px;
    }

    .tablebox ul {
        padding: 0;
        margin: 10px 0 0 0;
        list-style: none;
        color: white;
        font-size: 0.8em;
        line-height: 1.5em;
    }
        .tablebox ul > li {
            float: left;
            /*border-radius: 3px;*/
            padding: 1px 3px 1px 3px;
            margin-right: 6px;
            margin-top: 3px;
        }

            .tablebox ul > li:last-child {
                margin-right: 0;
            }

        .date {
            font-weight: 500;
            background-color: #616161;
        }

    .container-fluid h5 {
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .container-fluid {
        margin-bottom: 15px;
    }
    .assettable {
        padding-bottom: 15px;
    }


/* Reports */

.reportbox {
    color: white;
    padding:0;margin:0;
}

.reportbox h2 {
    font-size: 4em;
    line-height: 1em;
    font-weight: 400;
    margin: 0;
}

    .reportbox-caption {
        font-size: 1.2em;
        margin-top: -5px;
    }

    .reportbox i.boxcon {
        font-size: 1.5em;
        float: right;
    }

    .reportbox a {
        color: white;
        position: inherit;
    }


.row > iframe {
    overflow: scroll;
}

a.btn-revalue {
    color: white;
    padding: 5px; margin-top: 10px;
    width: auto;
    text-decoration: none;
    border-radius: 3px;
}

.info-table table {
    border: 1px solid #ddd;
}

.info-table tr {
    height: 25px;
    padding: 3px;
    
}

.info-table td {
    padding: 6px;
}

.left-align {
    text-align: right;
    width: 60%;
}

.right-align {
    text-align: left;
    width: 100%
}
/* Show All Link */

.showall {margin: 0; padding-top: 15px;}
.showall a {color: #2E7D32; text-decoration: none;}
.showall a:hover {color: #1B5E20;}
.showall i {font-size: 1em;}


.tablebox .container-fluid{padding:0;margin:0;}
.tablebox .row{padding:0;margin:0;}
.tablebox .tablebox-container{padding:0;margin:0;}
.tablebox .col-sm{padding:0;margin:0;}
.tablebox .col-1-sm{padding:0;margin:0;}
.tablebox .col{padding:0;margin:0;}


