@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

html {
    background: rgb(27,94,32);
    background: linear-gradient(50deg, rgba(27,94,32,1) 52%, rgba(54,177,59,1) 100%);
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(27,94,32);
    transition: 0.3s;
}

    a:hover {
        border-bottom: 2px solid rgb(27,94,32);
    }

.bigbox {
    display: table;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.box {
    background: #fff;
    width: initial;
    width: 200px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    transition: .3s;
}

form {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.asteriskField {
    display: none;
}

.boxtitle {
    color: rgb(27,94,32);
    font-size: 1.5em;
    margin-bottom: 10px;
}

input {
    outline: 0;
    font-family: inherit;
}

label {
    font-size: 0.7em;
    color: rgb(190, 190, 190);
}

input[type=text], input[type=password] {
    outline: 0;
    padding: 5px 7px 5px 7px;
    border-radius: 15px;
    border: 1px solid rgb(190, 190, 190);
    transition: 0.3s;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

    input[type=text]:focus, input[type=password]:focus {
        background: rgba(255, 255, 255);
    }

input[type=submit] {
    margin-top: 15px;
    outline: 0;
    padding: 7px 18px 7px 18px;
    border-radius: 20px;
    color: #fff;
    letter-spacing: 3px;
    border: 1px solid #fff;
    background: rgb(27,94,32);
    background: linear-gradient(50deg, rgba(27,94,32,1) 52%, rgba(54,177,59,1) 100%);
    transition: 0.3s;
}

    input[type=submit]:hover {
        background: #fff;
        border: 1px solid rgb(27,94,32);
        color: rgb(27,94,32);
        transition: 0.3s;
    }
